h1{
                color:;
  }
                
h3{
                    color:white;
                    background:black;
    padding:20px;
  }
body{
    background:#d1d8e0;
}
.box{
    background:#a5b1c2;
    width:500px;
    margin:100px auto;
    padding:50px;
}

    #image {
        width:200px;
        height:200px;
        border:10px solid #778ca3;
        border-radius:200px;
    }
